<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Uploader</title>

    <link href="{{url_for('static', filename='css/bootstrap-4.4.1.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
	
  </head>
    <body style="
			   background-image: url();
			   background-size: 100vw 100vh;
			   background-repeat:no-repeat;
			   background-attachment: fixed;
			   background-position: bottom;
			  "
    >
      <div class="row">
        <div class="col lg-3">
          <img src="{{url_for('static', filename='images/home.png')}}" width="50" height="50" onclick="window.location.href='/'"></img>
        </div>
        <div class="col-lg-6">
          <div class="text-center">
            <h1 class="display-4">Files Succesfully Uploaded</h1>
            <p class="lead">&nbsp;</p>
          </div>
        </div>
        <div class="col lg-3"></div>
      </div>
      <br>
 	    <br>
  	  <div class="container">
        <div class="row text-center">
          <div class="col-lg-6 offset-lg-3">use this link to access your files&nbsp; &nbsp;</div>
        </div>
        {% if hasTime %}
        <div class="row text-center">
          <div class="col-lg-6 offset-lg-3">This file will be deleted in {{time}} minutes&nbsp; &nbsp;</div>
        </div>
        {% endif %}
        <br>
        <div class="row text-center">    
          <div class="col-lg-6 offset-lg-3">
			    <a href="{{link}}">{{link}}&nbsp</a>
			    <a class="btn btn-sm btn-outline-light" onclick="copy('{{link}}')">copy</a>
		    </div>
      </div>

      </div>
      <br>
      <br>

      <div class="container">
        <div class="row text-center">
          <div class="col-lg-6 offset-lg-3">
              <a class="btn btn-primary" href="/mylinks">View All Uploads</a>
        </div>
      </div>

    <input type="file" style="display:none" id="dialog"/>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap-4.4.1.js')}}"></script>

    <script src="{{url_for('static', filename='js/copy.js')}}"></script>
  </body>
</html>
