<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap - Prebuilt Layout</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap-4.4.1.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bootstrap-4.4.1.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
	
  </head>
    <body style="
			   background-image: url();
			   background-size: 100vw 100vh;
			   background-repeat:no-repeat;
			   background-attachment: fixed;
			   background-position: bottom;
			  "
    >
      <div class="text-center">
        <h1 class="display-4">Files Succesfully Uploaded</h1>
        <p class="lead">&nbsp;</p>
      </div>
      <br>
 	    <br>
  	  <div class="container">
        <div class="row text-center">
          <div class="col-lg-6 offset-lg-3">use this link to access your files&nbsp; &nbsp;</div>
        </div>
        <br>
        <div class="row text-center">    
          <div class="col-lg-6 offset-lg-3">
			    <a href="{{link}}">{{link}}&nbsp</a>
			    <a class="btn btn-sm btn-outline-light" onclick="copy('{{link}}')">copy</a>
		    </div>
      </div>

      </div>
      <br>
      <br>
    </div>
    <input type="file" style="display:none" id="dialog"/>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="js/popper.min.js"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="js/bootstrap-4.4.1.js"></script>
    <script src="{{url_for('static', filename='js/bootstrap-4.4.1.js')}}"></script>

    <script src="{{url_for('static', filename='js/copy.js')}}"></script>
  </body>
</html>
