<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Uploader</title>

    <!-- Bootstrap -->
    <link href="{{url_for('static', filename='css/bootstrap-4.4.1.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
	  

  </head>
  <body style="
			   background-image: url({{url_for('static', filename='images/waves.svg')}});
			   background-size: 100vw auto;
			   background-repeat:no-repeat;
			   background-attachment: fixed;
			   background-position: bottom;
			  "
  >
    <div class="text-center">
      <h1 class="display-4">Uploader</h1>
      <p class="lead">Upload file, get a link</p>
    </div>
    <br>
 	  <br>

     <div class="container">
      <div class="row text-center">
        <div class="col-lg-6 offset-lg-3">
		        <a class="btn btn-primary" href="/mylinks">View uploaded files</a>
		  </div>
    </div>

    <br>
    <br>


  	<div class="container">
      <div class="row text-center">
        <div class="col-lg-6 offset-lg-3" id="drop-area" ondragover="allowDrop()" ondrop="drop(event)">
  			    <p>Drag one or more files to this Drop Zone ...</p>
		        <input class="form-control-file" style="display: none;" type=file id="dialog" name=file onchange="dialog(event)">
		        <input type="button" value="Browse..." onclick="document.getElementById('dialog').click();" />
			 
		  </div>
    </div>

    <br>

    <div class="col-lg-6 offset-lg-3">
      <div class="progress">
        <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <br>
    <br>

  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap-4.4.1.js')}}"></script>

    <!-- custom scripts -->>

    <script src="{{url_for('static', filename='js/upload.js')}}"></script>
  </body>
</html>
